<script type="text/javascript" src="/javascripts/scripts.js"></script>

<h1>Welcome! This is your Profile</h1>

<form action="upload" method="post" enctype="multipart/form-data">
  <h2>Upload Image</h2>
  <h4>Enter Username</h4>
  <input type="text" name="uname"
  </br>
  <input type="file" name="image">
  </br>
  </br>
  <input type="submit" value="Upload">
</form>

<p><button type="button"><a href="/">Go back</a></button></p>